@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.header-nav-open
		display: block
		padding: 5px 0 0 0
		outline: none
	.header-nav
		//margin-top: -100vh
		padding: 0
		width: 100%
		height: calc(100vh - #{$hh})
		position: fixed
		top: $hh
		left: 0
		opacity: 0
		transition: .5s
		background-color: #fff
		display: flex
		flex-direction: column
		justify-content: space-around
	.header-nav-item
		list-style: none
		text-decoration: none
		padding-right: 0
		font-family: "fregat", sans-serif
		font-size: 15px
		font-variant: small-caps
		border-top: 1px solid $a-c
		line-height: calc(#{$head-offset} /5)
		height: calc(#{$head-offset} /5)
		text-align: center
		&:after
			content: ""
	.header-nav-link
		color: $header-c
		text-transform: uppercase
		text-decoration: none
	.main-section
		margin-top: $hh
		min-height: 50vh
		background: url(../img/main-grd.png), url(../img/main-bg.png)
		background-repeat: repeat-y, no-repeat
		background-position: 70%, right center
		
	.main-section-bg
		background: none

	.main-section-row
		padding: 20px 0
	.accent-title
		font-size: 22px
		margin: 8px 0
		text-align: justify
	.accent-article
		font-size: 19px
		line-height: 24px
		margin-bottom: 20px
		text-align: justify
	.about-program-section
		padding-top: 20px
		padding-bottom: 20px
	.about-program-title
		text-align: center
	.centered-article
		text-align: justify
	.program-inc-section
		padding-top: 20px
		padding-bottom: 20px

	#next-btn, #prev-btn
		display: none
	#viewport
		margin: 4px 0
	.entry-section
		padding-top: 20px
		padding-bottom: 20px
	.entry-title
		font-size: 22px
	.entry-item
		margin: 10px 0
	.why-wrong-time
		font-size: 30px
		line-height: 30px
		padding-top: 40px
	.why-wrong-subtime
		font-size: 17px
		line-height: 17px
		padding-top: 10px
	.why-wrong-what
		padding-top: 50px
		font-size: 20px
		line-height: 20px
	.why-wrong-section
		padding-top: 20px
		padding-bottom: 20px
		.why-wrong-title
			margin: 0 0 30px 0
		.why-wrong-subtitle
			margin: 0 0 20px 0
		.why-wrong-items
			padding-top: 50px
	.how-goes-section
		padding-top: 20px
		padding-bottom: 20px
	.cases-section
		padding-top: 20px
		padding-bottom: 20px
	.entry-sec-section
		padding-top: 20px
		padding-bottom: 20px
	.entry-sec-title
		margin: 0 0 20px 0
	.entry-sec-descr
		margin: 0 0 30px 0
	.entry-sec-sub-descr
		margin: 30px 0 20px 0


	.how-it-works
		padding-top: 20px
		padding-bottom: 20px
	.how-it-works-article
		margin-top: 30px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.why-wrong-time
		font-size: 22px
		line-height: 22px
		padding-top: 30px
	.why-wrong-subtime
		font-size: 14px
		line-height: 14px
		padding-top: 5px
	.why-wrong-what
		padding-top: 30px
		font-size: 16px
		line-height: 16px
	.how-it-works-img
		width: 100%
		height: auto
		margin: 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.why-wrong-time
		font-size: 40px
		line-height: 40px
		padding-top: 50px
	.why-wrong-subtime
		font-size: 14px
		line-height: 14px
		padding-top: 5px
	.why-wrong-what
		padding-top: 40px
		font-size: 18px
		line-height: 18px
	.img-case
		margin: 0
	.how-goes-title
		text-align: justify
		margin: 40px 0 0 0
	.how-goes-descr
		text-align: justify
		margin: 15px 0 0 0
	.how-goes-underline
		display: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	/**/
	.why-wrong-time
		font-size: 35px
		line-height: 40px
		padding-top: 40px
	.why-wrong-subtime
		font-size: 14px
		line-height: 14px
		padding-top: 5px
	.why-wrong-what
		padding-top: 40px
		padding-bottom: 10px
		font-size: 18px
		line-height: 18px
	.how-it-works-img
		width: 40%
		height: auto
		margin: 0 30%

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
